<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task One</title>
	 <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styls.css') }}">
</head>

<body>
	<h1>Employees Data</h1>
	<h2>This is table of Employees whose salary is below $9000</h2>
	{% if emp_data %}
		<table class="table1" >
			<thead>
				<tr class="table-heading">
					<th> Name </th>
					<th> Email </th>
					<th> Phone </th>
				</tr>
			</thead>
			<tbody>
				{% for num, employees in emp_data.items() %}
					<tr class="table_row">
						<td class="table_cell"> {{ employees["Name"] }} </td>
						<td class="table_cell"> {{ employees["email"] }} </td>
						<td class="table_cell"> {{ employees["Phone"] }} </td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>No data found.</p>
	{% endif %}
</body>
</html>